 body 
 {
     margin: 0;
     padding: 0;
     align-items: center;
     justify-content: center; 
     display: flex;
     flex-direction: column;
 }

 #canvas
 {
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    display:flex;
 }