body 
{
    padding: 0;
    margin: 0;
    padding-top: 200px;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: black;
}

#canvas
{
    border-radius: 100%; /* forme circulaire */
    overflow: hidden;
    width: 400px;
    height: 400px;
}